# Radiology Captionining on ROCO

## Abstract

## Methodology

## Literature Survey


## Application



## Identified Gaps



## TODO


## Running the Code

You can run the main pipeline using the following CLI command:

```bash
python main.py
```

Ensure the config file specifies paths to datasets, model architectures, and training hyperparameters.

## Code Reference & Acknowledgments
